<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kartollika.matrixcalc">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".App"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:allowBackup="true">
        <activity
            android:name=".SplashScreenActivity"
            android:theme="@style/SplashScreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme"
            android:label="@string/title_activity_main" />
        <activity
            android:name=".SettingsActivity"
            android:label="@string/settings"
            android:launchMode="singleTop" />
        <activity
            android:name=".InputMatrixActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden" />
        <activity
            android:name=".ChooseOperationActivity"
            android:launchMode="singleTop"
            android:theme="@style/ActivityChooseOperationAnimated" />
        <activity
            android:name=".ShowResultActivity"
            android:label="@string/save"
            android:theme="@style/AppTheme"
            android:launchMode="singleTop" />

        <service
            android:name=".UpdateCheckerService"
            android:enabled="true"
            android:exported="true" />

    </application>

</manifest>